
.game-card:focus{
    border: none;
    outline: none;
}

.game-card:disabled{
    /*opacity: 0.5;*/
}

.game-card-win{
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(0.8);
    }
    50% {
        transform: rotate(180deg) scale(0.4);
    }
    100% {
        transform: rotate(360deg) scale(0.8);
    }
}